.HelpButton{
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 20px;
    background-color: #66cc00;
    border-radius: 7px;
    color: white;
}