.main-title {
    color: #4b286d;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
}

.secundary-title {
    color: #4b286d;
    font-size: 1.3rem;
    text-align: left;
}

.justify-paragraph {
    font-size: 1.25rem;
    text-align: justify;
}

.center-paragraph {
    font-size: 1.25rem;
    text-align: center;
}

.center-image {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    max-width: 25vw;
    max-height: 25vh;
}